* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #8100accb;
    background-image: url(images/Sign-Up\ Form\ BG.jpg);
    background-size: cover;
}

.container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 850px;
    border: 2px solid rgba(208, 208, 208, 0.502);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.603);
    background-color: transparent;
    backdrop-filter: blur(15px);
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 450px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.603);
    background-color: #ffffff22;
    font-weight: bold;
}

.logo {

}

h1 {
    font-size: 100px;
    margin: 20px;
    background: #121FCF;
    background: linear-gradient(to right, #ffffff 0%, #8979ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h2 {
    text-align: center;
    margin-bottom: 35px;
    color: white;
    font-size: 35px;
}

h4 {
    color: white;
    margin: 5px;
    align-self: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.form-group input {
    width: 100%;
    min-width: 250px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #ffffff51;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #d29cfb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #00b3aa;
}

a {
    color: white;
}

/* Style the message box */
#message {
    display: none;
    margin-top: 10px;
    color: white;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 10px;
}

#message p {
    padding: 5px 35px;
    font-size: 12px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: rgb(13, 230, 13);
}

.valid::before {
    position: relative;
    left: -15px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid::before {
    position: relative;
    left: -15px;
    content: "✖";
}

/* Additional styles to ensure layout */
.container {
    position: relative;
}

.inputs {
    position: relative;
    z-index: 1;
}

#message {
    margin-right: 8px;
    top: 60%;
    left: 10px;
    right: 10px;
    z-index: 0;
    background-color: rgba(255, 253, 253, 0.071);
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
